<div class="container">
  <div class="header">
    <h1>LOGIN </h1>
</div>
  <div class="form-container text">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="register-form">
     <!--Email address-->
     <mat-form-field class="register-form-full-width">
      <input type="text" matInput placeholder="Email address" value="" formControlName="email">
      <mat-error
          *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
          {{ required }}
      </mat-error>
  </mat-form-field>


  
  <!--Password-->
  <mat-form-field class="register-form-full-width">
      <input type="text" matInput placeholder="Password" value="" formControlName="password">
      <mat-error
          *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
          {{ required }}
      </mat-error>
  </mat-form-field>
  <br>
  <button class="continue" mat-raised-button color="warn">LogIn</button>

</form>
</div>
</div>

