.header h1 {
    font-family: Arial, sans-serif;
    //font-weight: bold;
    font-size: 32px;
    line-height: 106.25%;
    color: #444;
}

h1 {
   font-family: Arial, sans-serif;
    //font-weight: bold;
    font-size: 25px;
    line-height: 106.25%;
    color: #444;
}


.container{
     max-width:  1024px;
     width:100%;
     margin: 0 auto;
     background-color: #fff;
     font-size: 10px;
     padding: 40px;
     
 }
 h3 {
    margin-top: 16px;
    font-family: OpensansRegular, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    color: #444;
 }

 ul {
    font-size: 13px;
    line-height: 123.0769230769%;
    color: #5B5A5B;
    font-family: Arial, sans-serif;
 }

 .text {
    font-size: 13px;
    line-height: 123.0769230769%;
    color: #5B5A5B;
    font-family: Arial, sans-serif;
 }

 hr {
    background-color: #C2C2C2;
    height: 1px;
    border: none;
    margin-top: 32px;
    margin-bottom: 32px;
 }

 .register-form {
    min-width: 50rem;
    max-width: 50rem;
 }

 .register-form-full-width {
    width: 30rem;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .button_class{
    
    max-width: 20rem;
    display : flex;
    justify-content: space-evenly;

    &-no{
        background-color: red;
    }
}

.form-container{
   display : flex;
   max-width:800px;
   width:100%;
   background-color: rgb(253, 250, 224) ;
   margin-top: 2em;
}

form{
   margin: 1.5em 0 0 4rem;
   
}

.continue{
   border-radius: 1em;
   font-size: 1em;
   padding: 0.5em;
   background-color:rgb(161, 7, 7);
   color:#fff;
   margin: 1em 0 1em 0;
}

.information{
   width:40rem;
   height:11em;
   border: thin;
   border-style: solid;
   padding: 1em;
   margin:4rem -13rem;
  //margin : 3.7rem 0 0 36rem;
  border-color: rgb(175, 176, 177);
  flex: 0 0 45%;

}

#firstName{
   float: left;
}

.asterisk{
color:red;
}

.fieldRequired{
   font-size: 1.1em;
   margin-top: 2em;
}

.information-detail{
   margin-top: 5em;
}

.info-box{
   border: thin solid  rgb(175, 176, 177);
   max-width:800px;
   width:100%;
   font-weight: 550;
   padding: 1em;
   background-color: rgb(221, 226, 230);
}

.homeTest{
   font-size:11.5px ;
}

.disclaimer{
   font-size:11px ;
   padding-top: 1em;
}