.container{
    
   background-color: rgb(243, 235, 235);
    
    
}




.navigation{
    margin:0 13vw;
    display: flex;
    
}


.user-nav{
width: 13vw;
height : 80vh;
border-style: ridge;
background-color: rgb(217, 206, 236);   

}

.user-form{
    width:60vw;
    height:80vh;
background-color:  rgb(247, 243, 243);
}