.container{
    
    display: flex;
    flex-direction: column;
    flex: 1;
    
  }
  .header{
    flex: 0 0;
  }
  .content{
   /*  background-color: rgb(196, 196, 190);
    //test
   // height:180vh;
   // width:100vw;
    position: relative;
    display: flex;
   // justify-content: center;
    //flex:1;
     */
  }
  
  .footer{
    
    margin-bottom: 0;
    
    
  }