
<section class="forgetPassword-section">
    <form [formGroup]="forgetPasswordForm"  class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="email" placeholder="email">
  
      </mat-form-field>
      <button mat-button (click)="onSubmit()">Submit</button>
    </form>
  </section>
  
  
<section class="forgetPassword-section" [hidden]="!state">
  <form [formGroup]="forgetPasswordForm"  class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="email" placeholder="email">

    </mat-form-field>
    <button mat-button (click)="onSubmit()">Submit</button>
  </form>
</section>