<div class="container">
  <div class="header">
</div>
  <div class="form-container text">
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit(forgetPasswordForm.value)" class="register-form">
     <!--Email address-->
     <mat-form-field class="register-form-full-width">
      <input type="text" matInput placeholder="Email address" value="" formControlName="email">
      <mat-error
          *ngIf="!forgetPasswordForm.controls['email'].valid && forgetPasswordForm.controls['email'].touched">
      
      </mat-error>
  </mat-form-field>
 
  <br>
  <button class="continue" mat-raised-button  color="warn">Submit</button>

</form>
</div>
</div>

