.footer{

   
    height: 11vh;
    font-size: 1.4rem;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_item{
    
    text-decoration: none;
    
}